* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    min-height: 100vh;
    min-width: 100vw;
    background-color: cornflowerblue;
    display: flex;
}

.wrapper {
    min-height: 80vh;
    min-width: 90vw;
    background-color: azure;
    padding: 3%;
    margin: auto;
}

.wrapper p,
.wrapper label {
    margin-top: 2%;
    color: rgba(0, 0, 0, 0.70);
}

.wrapper button {
    padding: 1px 10px;
    white-space: nowrap;
    cursor: pointer;
}

.wrapper .input-addButton {
    display: flex;
}

.wrapper .input-addButton input {
    width: 75%;
    margin-right: 5%;
    padding-left: 5px;
}

.wrapper .pairList-buttons {
    display: flex;
    min-height: 50vh;
}

.wrapper .pairList-buttons button {
    margin-bottom: 10%;
}

.wrapper .pairList-buttons button:nth-child(3) {
    margin-top: 15%;
}

.wrapper .pairList-buttons .list {
    width: 74%;
    margin-right: 6%;
    border: 1px solid black;
    padding-left: 5px;
    max-height: 50vh;
    overflow-y: auto;
}

.wrapper .pairList-buttons .list .listItem {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.wrapper .pairList-buttons .list .listItem:hover {
    background-color: darkgoldenrod;
}

.wrapper .pairList-buttons .list .listItem.selected {
    background-color: dodgerblue;
}

.wrapper .pairList-buttons .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}